{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Restaurant Menu</h1>
    {% for type in types %}
        <h2>{{type.1}}</h2>
        {% for row in meals_list %}
            {% if row.dish_category == type.0 %}
                {% if row.availability == 0 %}
                    <a href="{% url 'meal_detail' row.pk %}"><h3><del>{{row.dish_name}}</del></h3></a>
                    <p>{{row.ingredients}}</p>
                    <span>${{row.price}}</span>
                {% else %}
                    <a href="{% url 'meal_detail' row.pk %}"><h3>{{row.dish_name}}</h3></a>
                    <p>{{row.ingredients}}</p>
                    <span>${{row.price}}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock content %}