<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
    {% for type in types %}
        <h2>{{type.1}}</h2>
        {% for row in meals_list %}
            {% if row.dish_category == type.0 %}
                {% if row.availability == 0 %}
                    <a href="{% url 'meal_detail' row.pk %}"><h3><del>{{row.dish_name}}</del></h3></a>
                    <p>{{row.ingredients}}</p>
                {% else %}
                    <a href="{% url 'meal_detail' row.pk %}"><h3>{{row.dish_name}}</h3></a>
                    <p>{{row.ingredients}}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>